{{#if logged_in}}
<div id="parent">
{{#each blogs as |blog| }}
<div class="container my-3 py-1">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bg-light p-4">
          <div class="d-flex justify-content-between">
            <h3>{{blog.title}}</h3>
            <h6 class="mt-2">Posted by {{blog.user.name}} on {{format_date blog.createdAt}}</h6>
          </div>
          <p>{{blog.description}}</p>
          <hr>
          
          <div class="d-flex justify-content-between align-items-center">
            
            <button class="btn btn-outline-primary btn-sm" id="add-comment-btn" type="button" data-bs-toggle="collapse" data-bs-target="#add-comment-form{{blog.id}}" aria-expanded="false" aria-controls="add-comment-form">Add Comment</button>
            <button class="btn btn-outline-dark btn-sm" id="view-comment-btn" type="button" data-bs-toggle="collapse" data-bs-target="#view-comment-list{{blog.id}}" aria-expanded="false" aria-controls="view-comment-list">View Comments</button>
          </div>

          <div class="collapse mt-3" id="add-comment-form{{blog.id}}">
            <form id="comment-form" data-id="{{blog.id}}">
              <div class="mb-3">
                <label for="comment-text" class="form-label">Comment</label>
                <textarea class="form-control" id="comment-text{{blog.id}}" rows="3"></textarea>
              </div>
              <button type="button" class="btn btn-primary commentBtn" data-id="{{blog.id}}">Submit</button>
            </form>
          </div>
          <div class="collapse mt-3" id="view-comment-list{{blog.id}}">
            {{#each blog.comments as |comment|}}
            <div>
              <p><b>@{{comment.user.name}}</b><br>{{comment.description}}</p>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>

{{else}}
{{#each blogs as |blog| }}
<div class="container my-3 py-1">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bg-light p-4">
          <div class="d-flex justify-content-between">
            <h3>{{blog.title}}</h3>
            <h6 class="mt-2">Posted by {{blog.user.name}} on {{format_date blog.createdAt}}</h6>
          </div>
          <p>{{blog.description}}</p>
          <hr>
          
          <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-dark btn-sm" id="view-comment-btn" type="button" data-bs-toggle="collapse" data-bs-target="#view-comment-list{{blog.id}}" aria-expanded="false" aria-controls="view-comment-list">View Comments</button>
          </div>

          {{!-- <div class="collapse mt-3" id="add-comment-form{{blog.id}}">
            <form>
              <div class="mb-3">
                <label for="comment-text" class="form-label">Comment</label>
                <textarea class="form-control" id="comment-text" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div> --}}
          <div class="collapse mt-3" id="view-comment-list{{blog.id}}">
            {{#each blog.comments as |comment|}}
            <div>
              <p><b>@{{comment.user.name}}</b><br>{{comment.description}}</p>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
{{/if}}

<script src="./js/comment.js"></script>


